<% extend 'layout' %>
<div>Hello, World!</div>
<div><%= @title %></div>
<script>
    function test(){
        var emailVal = $('#email').val();
        var passwdVal = $('#password').val();
        $.ajax({
            method: "POST",
            url: "/users/changePass",
            contentType:'application/json',
            data: JSON.stringify({ email: emailVal})
        }).done(function( msg ) {
            if(msg.success){
                location.href = '/'
            }
        });
    }
</script>
<div>
    <div>
        <span>Email</span>
        <input id="email" title="email" name="email" value=""/>
    </div>

    <input type="button" value="Send Change password" onclick="test()"/>
    <div><a href="/login">Login</a></div>
</div>